@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: local(NanumSquareNeo),
    url(./fonts/SpoqaHanSansNeo-Regular.subset.woff2) format("woff2"),
    url(./fonts/SpoqaHanSansNeo-Regular.subset.woff) format("woff"),
    url(./fonts/SpoqaHanSansNeo-Regular.subset.ttf) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: local(SpoqaHanSansNeo-Medium),
    url(./fonts/SpoqaHanSansNeo-Medium.subset.woff2) format("woff2"),
    url(./fonts/SpoqaHanSansNeo-Medium.subset.woff) format("woff"),
    url(./fonts/SpoqaHanSansNeo-Medium.subset.ttf) format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: local(SpoqaHanSansNeo-Bold),
    url(./fonts/SpoqaHanSansNeo-Bold.subset.woff2) format("woff2"),
    url(./fonts/SpoqaHanSansNeo-Bold.subset.woff) format("woff"),
    url(./fonts/SpoqaHanSansNeo-Bold.subset.ttf) format("ttf");
  font-weight: 700;
}
